#site {
  background-color: #e9e9e9;
  background-image: -moz-linear-gradient(0% 100% 90deg, #e5e5e5, #e2e2e2, #e9e9e9 99%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e9), to(#e5e5e5), color-stop(.1,#e2e2e2));
}

h1 {
  font-size: 24px;
}