body {
  font-family: Arial;
  color: #333;
}

a {
  color: #666;
}

#container {
  width: 950px;
}

#inner {
  margin-right: 20px;
  max-width: 850px;
  float: right;
}

}
#left {
  float: left;
  height: 100%;
}

#right {
  float: right;
  height: 100%;
}


#header {
  background-image: url(/media/dns-fraggle2-64px.png);
  background-repeat: no-repeat;
  padding-left: 110px;
  height: 64px;  
}
h1 {
  margin: 0;
  font-size: 45px;
  font-family: Verdana;
  color: #000;
}

h2 {
  color: #000;
}

h3 {
  color: #000;
}


#nsdetails {
  display: block;
  background-color:  #ff6903;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  padding-left:  3px;
  padding-bottom: 3px;
  padding-right:  3px;
  margin-left: 0.25em;
}

table#nstable {
  width:  100%;
  border-collapse:  collapse;
  font-size: small;
}

#nstable tr {
  vertical-align:  top;
}

.even {
  background-color: #fff
}
.odd {
  background-color: #ebeff9;
}

.disabled {
  background-color:  #333;
  border-bottom: 1px solid #666;
  color: #fff;
}

.disabled A { 
  color: #fff;
}

.disabled A:visited {
  color: #e5e5e5;
}

.tinyprint {
  clear: both;
  color: #666;
  text-align: center;
  font-size: x-small;
}
