<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <link href="/media/report.css" rel="stylesheet" type="text/css" />
  <link href="/media/style.css" rel="stylesheet" type="text/css" />
  <title>namebench reports site</title></head>
<body id="site">
  <div id="container">  
  <h1>namebench results sharing</h1>

  <p>This site allows you to access DNS benchmark data which has been submitted by the
  <a href="http://namebench.googlecode.com/">namebench</a> experimental sharing feature. For privacy reasons, namebench only uploads details on a <a
  href="http://namebench.appspot.com/index_hosts">predefined list of 10
  hostnames</a>, and all internal IP's are masked before uploading.</p>
  
  <p>If you would like to contribute results, please download the <a href="http://code.google.com/p/namebench/downloads/list">namebench 1.3-alpha build</a>, and invoke namebench with:</p>
  
  <pre>./namebench.py -u</pre>
  
  <h2>Recent Submissions</h2>
  
  <p>Results have been greyed out if the server pool or query count was too
  small to be useful.</p>

  <div id="nsdetails">
  <table id="nstable">
    <thead>
      <tr>
        <td>ID</td>
        <td>Location</td>
        <td>Network</td>
        <td>Best</td>
        <td>Current</td>
        <td>Improvement</td>
        <td>Timestamp</td>
      </tr>
    </thead>
    <tbody>
{% for submission in recent_submissions %}
{% if not submission.hidden %}

<tr class="{% if not submission.listed %}disabled{% else %}normal {% cycle odd,even %}{% endif %}">
  <td><a href="/id/{{ submission.key.id }}">{{ submission.key.id }}</td>
  <td>{% if submission.region %}{{ submission.region|escape }}, {{ submission.country|escape }} {% else %} {% if submission.country %} {{ submission.country|escape }} {% else %} Unknown {% endif %} {% endif %}</td>
  <td>{{ submission.class_c|escape }}.0/24</td>
  <td><a href="/ns/{{ submission.best_nameserver.ip|escape }}">{% if submission.best_nameserver.name %}{{ submission.best_nameserver.name|escape }}{% else %}{{ submission.best_nameserver.ip|escape }}{% endif %}</a></td>
  <td><a href="/ns/{{ submission.primary_nameserver.ip|escape }}">{% if submission.primary_nameserver.name %}{{ submission.primary_nameserver.name|escape }}{% else %}{{ submission.primary_nameserver.ip|escape }}{% endif %}</a></td>
  <td>{% if submission.best_improvement %}{{ submission.best_improvement|floatformat }}%{% else %}N/A{% endif %}</td>
  <td>{{ submission.timestamp }}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>
</div>

<h2>Source Code</h2>

<p>The source code for this AppEngine app is available on <a
href="http://namebench-appengine.googlecode.com/">Google Code</a>.
Contributions are welcome!</p>

<center>
<img
src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" />
<p style="font-size: x-small;">&copy; 2010 Google Inc.</p>
</center>

</div>

</body>
</html>
