<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>namebench results: {{ id }} at {{ submission.timestamp }}</title>
  <link href="/media/report.css" rel="stylesheet" type="text/css" />
  
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <script type='text/javascript'>
    google.load('visualization', '1', {packages:['table']});
    google.setOnLoadCallback(drawIndexTable);
    function drawIndexTable() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Nameserver');
      data.addColumn('string', 'Record');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'TTL');
      data.addColumn('string', 'Response');
      data.addRows([{{ index_data }}]);
      var table = new google.visualization.Table(document.getElementById('index_table'));
      table.draw(data, {allowHtml: true});
    }
  </script> 
</head>
<body>

<div id="container">
<div class="version">namebench {{ version }}</div>
<div id="big_summary" class="greybox">
{% ifequal best_nameserver submission.primary_nameserver %}
  Your primary DNS server
  <h4><strong>{{ best_nameserver.ip|escape }}</strong></h4>
  Is already the fastest.
{% else %}
	<h4><strong>{{ best_nameserver.name|escape }}</strong> is</h4>
	{% if best_improvement %}
  	<h1>{{ best_improvement|floatformat }}%</h1><h5 class="faster">faster than</h5>
  {% else %}
    <h1>N/A<h1><h5 class="flaster">compared to</h5>
  {% endif %}
	<h4>your current primary DNS server</h4>
{% endifequal %}
</div>

<div id="recommended_config" class="greybox">
	<h4>Recommended configuration (fastest + nearest)</h4>
	<table>
	{% for ns in recommended %}
	<tr>
	  <td>{% ifequal forloop.counter 1 %}Primary{% endifequal %}
	      {% ifequal forloop.counter 2 %}Secondary{% endifequal %}
	      {% ifequal forloop.counter 3 %}Tertiary{% endifequal %} Server</td>
    <td><div class="ip">{{ ns.nameserver.ip|escape }}</div></td><td class="rec_name">{{ ns.nameserver.name|escape }}</td>
	</tr>
  {% endfor %}
  </table>
</div>

<h2>Tested DNS Servers</h2>

<div id="nsdetails">
<table id="nstable">
<thead>
<tr>
  <td nowrap="nowrap">IP</td>
  <td>Descr.</td>
  <td nowrap="nowrap">Hostname</td>
  <td nowrap="nowrap">Diff</td>
  <td nowrap="nowrap">Avg (ms)</td>
	<td nowrap="nowrap">Min</td>
	<td nowrap="nowrap">Max</td>
  <td nowrap="nowrap">Err</td>
  <td nowrap="nowrap">NoAns</td>
  <td>Notes</td>
</tr>
</thead>

{% for sub in nsdata %}
<tr class="{% if sub.is_disabled %}disabled{% else %}normal {% cycle odd,even %}{% endif %}{% ifequal sub.sys_position 0 %} primary_row{% endifequal %}{% if sub.is_error_prone %} unhealthy_host{% endif %}">
  <td>{{ sub.ip|escape }}</td>
  <td>{{ sub.name|escape }}</td>
  <td>{{ sub.hostname|escape }}</td>
  <td>{{ sub.overall_average|floatformat }}% </td>  
  <td>{{ sub.overall_average|floatformat }}</td>
  <td>{{ sub.duration_min|floatformat }}</td>
  <td>{{ sub.duration_max|floatformat }}</td>
  <td {% if sub.failed_count %}class="error_count"{% endif %}>{{ sub.failed_count }}</td>
  <td>{{ sub.nx_count }}</td>
  <td>
  {% if sub.notes %}
    <ul class="warnings">
		{% for note in sub.notes %}<li>{{ note|escape }}</li>{% endfor %}
	</ul>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table>
</div>

<h2>Graphs</h2>

<div id="graphs" class="section">
<h2>Mean Response Duration</h2>
<img src="{{ mean_duration_url }}" alt="Mean Duration Graph" />

<h3>Fastest Individual Response Duration</h3>
<img src="{{ min_duration_url }}" alt="Fastest Response Graph" />

<h3>Response Distribution Chart (First 200ms)</h3>

<img src="{{ distribution_url_200 }}" alt="Response Distribution Graph (first 200ms)" />

<h2>Index Results</h2>

<small>Temporarily disabled due to poor performance.</small>
<div id="index_table"></div>

<h2>Config</h2>

<div class="config" class="section">
<table class="configtable">
	<thead><tr><td>Name</td><td>Value</td></tr></thead>
	{% for row in config %}
	<tr><td>{{ row.0|escape }}</td><td>{{ row.1|escape }}</td></tr>
  {% endfor %}
	</table>
</div>

<h2>Location</h2>

<div class="config" class="section">
<table class="configtable">
	<thead><tr><td>Name</td><td>Value</td></tr></thead>
	<tr><td>Country</td><td>{{ submission.country|escape }}</td></tr>
	<tr><td>Region</td><td>{{ submission.region|escape }}</td></tr>
	<tr><td>City</td><td>{{ submission.city|escape }}</td></tr>
	<tr><td>Network</td><td>{{ submission.class_c|escape }}.0/24</td></tr>
	</table>
</div>


</div>
</body>
</html>
